body {
  background-color: lightblue;
  display: flex;
}

.App {
  padding: 20px;
  flex: 1;
}

.siteContent {
  display: flex;
}

.brand {
  /* align-self: end; */
  display: flex;
  flex-direction: column;
}

.logo {
  width: 150px;
  height: 150px;
}

.loginPage {
  display: flex;
  justify-content: flex-end;
}
.loginForm {
  margin-top: 100px;

  width: 300px;
  align-self: flex-end;
}
.poemList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.poemBox {
  /* max-width: 300px; */
  border: 1px dotted gray;
  padding: 10px;
  margin: 10px;
  /* background-color: linen; */
  background: linen url("../public/Creative-writing-bro.png") no-repeat top
    right;
  background-size: 100px;
}

footer {
  align-self: flex-end;
  flex-basis: 100vw;
}
